
html {
  font-family: Garamond;
}

body {
  background-color: #EDEDED;
}

h1 {
  background-color: #509DFF;
  padding: 8px;
}

/* Make a fancy HR */
hr {
    height: 30px;
    border-style: solid;
    border-color: #0B4889;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #0B4889;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}